<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
        <h1>Log Show Page</h1>
        <h3><%=log.title%></h3>
        <p><%=log.entry%></p>
    </body>
</html>
