<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Biscoff New Page</title>
  </head>
  <body>
    <h1>Create a new baked good</h1>
    <form action="/bakedgoods" method="POST">
      Name: <input type='text' name='name'/><br>
      Price: $<input type='number' name='price'/><br>
      Image: <input type='text' name='image'/><br>
      <input type='submit' value='Create new Good'/>
    </form>
    <br>
    <a href="/bakedgoods">Home</a>
  </body>
</html>
