<ul class='left'>
  <li><a href="/">Home</a></li>
  <li><a href="/logs" >Logs</a></li>
</ul>
<ul class="right">
  <li><a href="/logs/new">Create a new Log</a></li>
  <% if (currentUser) { %>
  <li>Welcome <%=currentUser.username%></li>
  <li>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log Out" />
    </form>
  </li>
  <% } else { %>
  <li><a href="/users/new">Sign Up</a></li>
  <li><a href="/sessions/new">Log In</a></li>
  <% } %>
</ul>
