<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pokedex | New Pokemon</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Pokedex - New Pokemon</h1>
        <a href="/" class='newPoke'>home</a>
      </header>
      <div class="pokedex">
        <form action="/" method="POST">
          <h3>ID: </h3><input type="text" name="id" /><br/>
          <h3>Name: </h3><input type="text" name="name" /><br/>
          <h3>Image: </h3><input type="text" name="img" /><br/>
          <h3>Type: </h3><input type="text" name="type" /><br/><br/>
          <input type="submit" value="Create Pokemon"/>
        </form>
      </div>
    </div>
  </body>
</html>
